.collapsible-counter-container {
	color: var(--text-muted);
	padding: var(--size-2-1) var(--size-2-3);
	borderradius: var(--radius-s);
	backgroundcolor: var(--background-modifier-border);
	border: 1px solid var(--background-modifier-border-hover);
	fontweight: var(--font-weight-medium);
	transition: all var(--anim-duration-fast) ease;
	minwidth: 20px;
	textalign: center;
}
