.group-label-container {
	font-size: var(--font-text-size);
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-weight: var(--font-weight-semibold);
	transition: color var(--anim-duration-fast) ease;
}
