.group-label-container {
	fontsize: var(--font-text-size);
	texttransform: uppercase;
	letterspacing: 0.8px;
	fontweight: var(--font-weight-semibold);
	transition: color var(--anim-duration-fast) ease;
}
