.template-item {
	border: var(--border-width) solid var(--color-base-30);
	border-radius: var(--radius-xl);
	margin-bottom: var(--size-4-2);
	padding: var(--size-4-3);
	background: var(--background-primary-alt);
	cursor: pointer;
	transition: background-color 0.1s ease;
}

.template-item:hover {
	background: var(--background-modifier-hover);
}

.template-item.enabled {
	background: var(--background-modifier-success-hover);
}

.template-item.enabled:hover {
	background: var(--background-modifier-success);
}

.template-header {
	display: flex;
	align-items: center;
}

.template-checkbox {
	pointer-events: none;
}

.template-statuses {
	margin-top: 7px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
