/*
 * Note Status Plugin for Obsidian
 * Main CSS file with BEM-like naming conventions
 *
 * Author: Aleix Soler
 */

/* Import component stylesheets */
@import "components/status-bar.css";
@import "components/settings.css";
@import "components/template-settings.css";
@import "components/dashboard.css";
@import "components/grouped-view.css";
@import "components/file-explorer.css";
@import "components/group-label.css";
@import "components/collapsible-counter.css";
@import "components/status-display.css";
@import "components/lucide-icon-picker.css";
@import "components/status-icon.css";
@import "components/obsidian-icon.css";
@import "components/toolbar-button.css";
